.collectionDropdown .MuiInput-underline:before {
  border-color: var(--side-panel-dropdown-underline);
}

.collectionDropdown .MuiInput-underline:after {
  border-color: var(--side-panel-dropdown-underline);
}

.collectionDropdown svg {
  color: var(--side-panel-dropdown-arrow-color);
}

#collectionDropdown {
  border-color: var(--side-panel-dropdown-border);
  color: var(--side-panel-dropdown-color);
  background-color: var(--side-panel-dropdown-background);
}

#collectionDropdown option {
  background-color: var(--side-panel-dropdown-background) !important;
}

.collectionDropdown.error-true select {
  color: #bc3131 !important;
  font-weight: bold;
  border-bottom: 1px solid #bc3131;
}

.collectionDropdown div[label='Collection'] {
  top: -2.5px;
  padding-top: 1px;
  min-width: 100%;
}

.collectionRangeText {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 12px;
  font-weight: 100;
  margin-top: 10px;
}
