.FiltersSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.FiltersSection__heading {
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
  color: var(--blue-gray-8);
  letter-spacing: 0;
  margin-bottom: 4px;
}

.FiltersSection__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
