.cloudSliderInputs {
  padding-left: 10px;
}

.cloudSlider.disabled {
  opacity: 30%;
}

/* Material-UI Slider Component Overrides */

.cloudSlider .MuiSlider-root {
  color: #000000;
}

.cloudSlider .MuiSlider-track {
  color: #76829c;
}

.cloudSlider .MuiSlider-rail {
  color: #76829c;
}

.cloudSlider .MuiSlider-thumb {
  color: var(--cloud-slider-mui-slider-thumb-color);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* Material-UI Input Component Overrides */

.cloudSlider .MuiInput-root {
  width: 42px;
}
.cloudSlider .MuiInput-underline:before {
  border-bottom-color: #76829c;
}

.cloudSlider .MuiInput-underline:after {
  border-bottom-color: #76829c;
}
