.RightContent {
  width: calc(100% - 300px);
  height: 100%;
  display: flex;
  position: absolute;
  left: 300px;
}

.ZoomNotice {
  position: absolute;
  bottom: 10px;
  left: 12px;
  z-index: 6;
  background: var(--map-alert-overlay-primary-background);
  padding: 6px 15px;
  border-radius: 2px;
  font-size: 0.75em;
  animation: fadeIn 0.45s ease-in-out 0.4s forwards;
  opacity: 0;
  display: flex;
  flex-direction: row;
}

.zoomInText {
  all: unset;
  color: var(--map-alert-overlay-accent-color);
  cursor: pointer;
  transition: border-color 0.33s ease-in-out;
  border-bottom: 1px solid transparent;
  display: inline-block;
  margin-left: 10px;
}

.zoomInText:hover {
  border-color: var(--map-alert-overlay-accent-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.actionButtons {
  position: absolute;
  z-index: 2;
  top: 11px;
  right: 10px;
  display: flex;
  flex-direction: row;
}

.actionButton {
  background-color: var(--action-button-background);
  color: var(--action-button-color);
  border: 0px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: all 0.33s ease-in-out;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.actionButton:hover {
  background-color: var(--action-button-background-hover);
  color: var(--action-button-color-hover);
}

.actionButtonDisabled {
  background-color: var(--action-button-background-disabled);
  color: var(--action-button-color-disabled);
  cursor: default;
}

.actionButtonDisabled:hover {
  background-color: var(--action-button-background-disabled);
  color: var(--action-button-color-disabled);
  cursor: default;
}

.actionButtonCTA {
  height: 35px;
  font-size: 16px;
}

.resultCount {
  position: absolute;
  z-index: 2;
  top: 11px;
  display: flex;
  flex-direction: column;
  background-color: var(--map-info-overlay-background);
  padding: 8px 10px;
  border-radius: 5px;
  color: var(--map-info-overlay-color);
  align-items: center;
  font-size: 0.75em;
  letter-spacing: 0.025em;
  line-height: 1.5;
  left: 54px;
  transform: none;
}

.resultCountText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.resultCount strong {
  color: var(--map-info-overlay-heading-color);
}

.resultCountCartText {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.resultCountButtons {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.countButton {
  background-color: var(--map-info-overlay-button-background);
  color: var(--map-info-overlay-button-color);
  border: 1px solid var(--map-info-overlay-button-border);
  border-radius: 5px;
  height: 28px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.33s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.countButton:hover {
  background-color: var(--map-info-overlay-button-background-hover);
  color: var(--map-info-overlay-button-color-hover);
}

.disabledCountButton {
  cursor: default;
  opacity: 0.35;
}
.disabledCountButton:hover {
  color: var(--map-info-overlay-button-color);
  background-color: var(--map-info-overlay-button-background);
}

.countButtonCancelText {
  margin-right: 10px;
}

.drawGeomMessage {
  position: absolute;
  z-index: 2;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  background-color: var(--map-info-overlay-background);
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--map-info-overlay-color);
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  letter-spacing: 0.025em;
  line-height: 1.8;
}

.drawGeomMessageText {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.drawGeomMessageTextTitle {
  color: var(--map-info-overlay-heading-color);
  font-weight: bold;
}

.drawGeomMessageCancelButton {
  height: 32px;
  width: 75px;
  background-color: var(--map-info-overlay-button-background);
  border: none;
  color: var(--map-info-overlay-button-color);
  font-size: 16px;
  cursor: pointer;
  border: 1px solid var(--map-info-overlay-button-border);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: 30px;
}

.drawGeomMessageCancelButton:hover {
  background-color: var(--map-info-overlay-button-background-hover);
  color: var(--map-info-overlay-button-color-hover);
}

.loadingSpinnerContainer {
  position: absolute;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.appLoadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--app-background-loading);
  color: var(--app-color-loading);
  z-index: 499;
  opacity: 0.75;
}

.mapAttribution {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--map-info-overlay-background);
  padding: 4px 6px;
}

.mapAttribution a {
  color: #19a1d7;
  text-decoration: none;
}

.mapAttribution span {
  color: var(--map-attribution-overlay-color);
}

.mapAttribution a:hover {
  text-decoration: underline;
}

div[data-tooltip-id='attribution-tooltip'] {
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 1;
  color: var(--map-attribution-overlay-tooltip-color);
}

div#attribution-tooltip {
  z-index: 999;
  white-space: nowrap;
  padding: 2px;
  background-color: var(--map-info-overlay-background);
}

.layerListButton {
  position: absolute;
  background-color: #fff;
  background-clip: padding-box;
  top: 130px;
  left: 10px;
  z-index: 1;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 4px;
  border: solid 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.layerListButton:hover {
  background-color: #f4f4f4;
}

.layerListButtonIcon {
  color: #555;
}

.LoadingImageryOverlayText {
  position: absolute;
  right: 10px;
  bottom: 32px;
  z-index: 10;
  font-size: 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: var(--map-info-overlay-background);
  padding: 8px 10px;
  border-radius: 5px;
  color: var(--map-info-overlay-color);
  align-items: center;
  justify-content: center;
}

.LoadingImageryOverlaySpinner {
  margin-left: 8px;
}

@media screen and (max-width: 1460px) {
  .resultCount {
    left: 52px;
    transform: none;
  }
}

@media screen and (max-width: 1000px) {
  .actionButtonCTA {
    display: none;
  }
}

@media screen and (max-width: 775px) {
  .ZoomNotice {
    width: 70%;
  }
}
