.popupResult {
  display: flex;
  flex-direction: column;
}

.popupResultHero {
  display: flex;
  flex-direction: column;
}

.popupResultHero .item-header {
  width: 100%;
}

.popupResultThumbnailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 304px;
  min-height: 304px;
  margin-left: auto;
  margin-right: auto;
}

.popupResultThumbnail {
  width: 100%;
  max-width: 304px;
  border-radius: var(--radius-sm);
}

.popupResultDetails {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.detailRow {
  width: 240px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.popupResultDetailsRowKey {
  font-weight: 700;
  color: var(--side-panel-heading-color);
}

.popupResultDetailsRowValue {
  font-size: 14px;
  word-wrap: break-word;
}

.popupResultDetailsHrefLink {
  color: var(--side-panel-link-color);
  text-decoration: underline;
  width: 100%;
  font-size: 14px;
  margin-bottom: 5px;
}

.popupResultDetailsHrefLink:hover {
  color: var(--side-panel-link-color-hover);
}
