.Card {
  background: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  padding: 12px 28px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.Card__label {
  font-size: 14px;
  font-weight: 400;
  color: #0f1419;
  margin-bottom: 20px;
  display: block;
}

.Card__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
