/* ------------------- DEFAULT THEME (DARK) ------------------- */
:root {
  /* Dark mode theme colors */
  --e84-brand-green: #6cc24a;

  /* CloudSlider Component */
  --cloud-slider-mui-slider-thumb-color: #76829c;

  /* CollectionDropdown Component */
  --collection-dropdown-svg-color: rgba(255, 255, 255, 0.5);
  --collection-dropdown-color: white;
  --collection-dropdown-bg: #12171a;

  /* ExportButton Component */
  --export-button-download-button-border: #a9b0c1;

  /* LayerList Component */
  --layer-list-bg: rgba(34, 34, 34, 0.8);
  --layer-list-title-border-bottom: #353d4f;

  /* Content Component */
  --content-color: #d3d3d3;

  /* LeftContent Component */
  --left-content-bg: #12171a;
  --left-content-tab-color: #fff;
  --left-content-tab-bg: #353d4f;
  --left-content-tab-border-bottom: #353d4f;
  --left-content-tab-border-top: #353d4f;
  --left-content-tab-selected-border-bottom: var(--e84-brand-green);
  --left-content-disable-search-overlay-bg: #12171a;

  /* RightContent Component */
  --right-content-app-loading-container-color: #d3d3d3;
  --right-content-action-button-hover-color: #dedede;
  --right-content-result-count-bg: rgba(34, 34, 34, 0.8);
  --right-content-result-count-color: #fff;
  --right-content-result-count-strong-color: #a9b0c1;
  --right-content-count-button-bg: transparent;
  --right-content-count-button-color: #a9b0c1;
  --right-content-count-button-border: #a9b0c1;
  --right-content-count-button-hover-bg: #252f36;
  --right-content-count-button-hover-color: #fff;
  --right-content-draw-geom-message-bg: rgba(34, 34, 34, 0.8);
  --right-content-draw-geom-message-color: #fff;
  --right-content-draw-geom-message-text-title-color: #a9b0c1;
  --right-content-draw-geom-message-cancel-button-bg: transparent;
  --right-content-draw-geom-message-cancel-button-color: white;
  --right-content-draw-geom-message-cancel-button-border: #a9b0c1;

  /* PageHeader Component */
  --page-header-bg: #12171a;
  --page-header-color: #a9b0c1;
  --page-header-link-border: #76829c;

  /* HeatMapSymbology Component */
  --heat-map-symbology-gradient-border-bottom: rgba(255, 255, 255, 0.5);
  --heat-map-symbology-values-color: white;
  --heat-map-symbology-values-bg: rgba(18, 23, 26, 0.5);
  --heat-map-symbology-values-min-border-left: rgba(255, 255, 255, 0.5);
  --heat-map-symbology-values-max-border-right: rgba(255, 255, 255, 0.5);
  --heat-map-symbology-values-mid-border-right: rgba(255, 255, 255, 0.5);

  /* LayerLegend Component */
  --layer-legend-bg: #12171a;
  --layer-legend-opacity: 0.9;

  /* LoadingAnimation Component */
  --loading-animation-animated-loader-svg-path-stroke: #ccc;

  /* PopupResult Component */
  --popup-result-details-row-key-color: #fff;
  --popup-result-details-href-link-color: #d3d3d3;

  /* PopupResults Component */
  --popup-results-footer-button-color: #a9b0c1;
  --popup-results-footer-button-border: #dedede;

  /* Search Component */
  --search-button-container-border-top: #4f5768;
  --search-container-color: #ffffff;
  --search-container-label-color: #fff;
  --search-by-geom-options-button-border: #a9b0c1;
  --search-input-color: white;
  --search-label-style-color: rgba(255, 255, 255, 0.7);
  --search-label-style-text-shadow: rgba(0, 0, 0, 0.8);
  --search-mui-switch-track-bg: #dedede;

  /* ThemeSwitcher Component */
  --theme-switcher-border: #76829c;
  --theme-switcher-bg: transparent;
  --theme-switcher-color: #a9b0c1;

  /* UploadGeojsonModal Component */
  --upload-geojson-modal-bg: rgba(0, 0, 0, 0.7);
  --upload-geojson-modal-container-bg: #353d4f;
  --upload-geojson-modal-container-color: #dedede;
  --upload-geojson-modal-action-button-bg: #4f5768;
  --upload-geojson-modal-action-button-color: white;
  --upload-geojson-modal-action-button-border: #a9b0c1;
  --upload-geojson-modal-action-button-hover-bg: #353d4f;
  --upload-geojson-modal-drop-zone-bg: #4f5768;
  --upload-geojson-modal-drop-zone-color: #ffffff;

  /* ViewSelector Component */
  --view-selector-button-border: #a9b0c1;
}

/* Default theme (dark) map tiles styling */
.map-tiles {
  filter: brightness(1.125) invert(1) contrast(0.9) hue-rotate(0deg) saturate(0);
}

/* ------- LIGHT THEME (OVERRIDES DEFAULT DARK THEME) --------- */
:root[data-theme='light'] {
  /* Light mode theme colors */
  --light-mode-gray-1: #f0f0f0;
  --light-mode-gray-2: #d3d3d3;
  --light-mode-gray-3: #b6b6b6;
  --light-mode-color-dark: #000000;
  --light-mode-color-light: #ffffff;
  --light-mode-accent-1: #76829c;
  --light-mode-accent-2: #4f5768;
  --light-mode-accent-3: #373c48;
  --light-mode-transparent: transparent;
  --light-mode-transparent-white: rgba(255, 255, 255, 0.7);
  --e84-brand-green: #6cc24a;

  /* CloudSlider Component Overrides */
  --cloud-slider-mui-slider-thumb-color: var(--light-mode-color-light);

  /* CollectionDropdown Component Overrides */
  --collection-dropdown-bg: var(--light-mode-gray-1);
  --collection-dropdown-color: var(--light-mode-color-dark);
  --collection-dropdown-svg-color: var(--light-mode-color-dark);

  /* ExportButton Component Overrides */
  --export-button-download-button-border: var(--light-mode-color-dark);

  /* LayerList Component Overrides */
  --layer-list-bg: var(--light-mode-color-light);
  --layer-list-title-border-bottom: var(--light-mode-gray-1);

  /* Content Component Overrides */
  --content-color: var(--light-mode-color-dark);

  /* LeftContent Component Overrides */
  --left-content-bg: var(--light-mode-gray-1);
  --left-content-tab-bg: var(--light-mode-gray-2);
  --left-content-tab-border-top: var(--light-mode-gray-2);
  --left-content-tab-border-bottom: var(--light-mode-gray-2);
  --left-content-tab-selected-border-bottom: var(--e84-brand-green);
  --left-content-tab-color: var(--light-mode-color-dark);
  --left-content-disable-search-overlay-bg: var(--light-mode-gray-1);

  /* RightContent Component Overrides */
  --right-content-app-loading-container-color: var(--light-mode-color-light);
  --right-content-action-button-hover-color: var(--light-mode-color-light);
  --right-content-result-count-bg: var(--light-mode-gray-1);
  --right-content-result-count-color: var(--light-mode-color-dark);
  --right-content-result-count-strong-color: var(--light-mode-accent-2);
  --right-content-count-button-bg: var(--light-mode-accent-2);
  --right-content-count-button-color: var(--light-mode-color-light);
  --right-content-count-button-border: var(--light-mode-color-dark);
  --right-content-count-button-hover-bg: var(--light-mode-accent-3);
  --right-content-count-button-hover-color: var(--light-mode-color-light);
  --right-content-draw-geom-message-bg: var(--light-mode-gray-1);
  --right-content-draw-geom-message-color: var(--light-mode-color-dark);
  --right-content-draw-geom-message-text-title-color: var(
    --light-mode-accent-2
  );
  --right-content-draw-geom-message-cancel-button-bg: var(
    --light-mode-transparent
  );
  --right-content-draw-geom-message-cancel-button-color: var(
    --light-mode-color-dark
  );
  --right-content-draw-geom-message-cancel-button-border: var(
    --light-mode-accent-2
  );

  /* PageHeader Component Overrides */
  --page-header-bg: var(--light-mode-gray-1);
  --page-header-link-border: var(--light-mode-color-dark);
  --page-header-color: var(--light-mode-color-dark);

  /* HeatMapSymbology Component Overrides */
  --heat-map-symbology-gradient-border-bottom: var(--light-mode-color-dark);
  --heat-map-symbology-values-min-border-left: var(--light-mode-color-dark);
  --heat-map-symbology-values-mid-border-right: var(--light-mode-color-dark);
  --heat-map-symbology-values-max-border-right: var(--light-mode-color-dark);
  --heat-map-symbology-values-color: var(--light-mode-color-dark);
  --heat-map-symbology-values-bg: var(--light-mode-gray-1);

  /* LayerLegend Component Overrides */
  --layer-legend-bg: var(--light-mode-gray-1);
  --layer-legend-opacity: 1;

  /* LoadingAnimation Component Overrides */
  --loading-animation-animated-loader-svg-path-stroke: var(
    --light-mode-color-light
  );

  /* PopupResult Component Overrides */
  --popup-result-details-row-key-color: var(--light-mode-color-dark);
  --popup-result-details-href-link-color: var(--light-mode-color-dark);

  /* PopupResults Component Overrides */
  --popup-results-footer-button-color: var(--light-mode-color-dark);
  --popup-results-footer-button-border: var(--light-mode-gray-3);

  /* Search Component Overrides */
  --search-container-label-color: var(--light-mode-color-dark);
  --search-container-color: var(--light-mode-color-dark);
  --search-input-color: var(--light-mode-color-dark);
  --search-mui-switch-track-bg: var(--light-mode-accent-1);
  --search-by-geom-options-button-border: var(--light-mode-color-dark);
  --search-button-container-border-top: var(--light-mode-gray-3);
  --search-label-style-color: var(--light-mode-color-dark);
  --search-label-style-text-shadow: var(--light-mode-color-light);

  /* ThemeSwitcher Component Overrides */
  --theme-switcher-border: var(--light-mode-color-dark);
  --theme-switcher-bg: var(--light-mode-transparent);
  --theme-switcher-color: var(--light-mode-color-dark);

  /* UploadGeojsonModal Component Overrides */
  --upload-geojson-modal-bg: var(--light-mode-transparent-white);
  --upload-geojson-modal-container-bg: var(--light-mode-gray-2);
  --upload-geojson-modal-container-color: var(--light-mode-color-dark);
  --upload-geojson-modal-action-button-bg: var(--light-mode-accent-2);
  --upload-geojson-modal-action-button-color: var(--light-mode-color-light);
  --upload-geojson-modal-action-button-border: var(--light-mode-color-dark);
  --upload-geojson-modal-action-button-hover-bg: var(--light-mode-accent-3);
  --upload-geojson-modal-drop-zone-bg: var(--light-mode-gray-3);
  --upload-geojson-modal-drop-zone-color: var(--light-mode-color-dark);

  /* ViewSelector Component Overrides */
  --view-selector-button-border: var(--light-mode-color-dark);
}

/* Invert logo colors for light theme */
:root[data-theme='light'] .headerLogoImage {
  filter: invert(1);
}

/* No map tile styling for light theme */
:root[data-theme='light'] .map-tiles {
  filter: none;
}
