.visualizationSelector .MuiInput-underline:before {
  border-color: var(--side-panel-dropdown-underline);
}

.visualizationSelector .MuiInput-underline:after {
  border-color: var(--side-panel-dropdown-underline);
}

.visualizationSelector svg {
  color: var(--side-panel-dropdown-arrow-color);
}

#visualizationDropdown {
  border-color: var(--side-panel-dropdown-border);
  color: var(--side-panel-dropdown-color);
  background-color: var(--side-panel-dropdown-background);
}

#visualizationDropdown option {
  background-color: var(--side-panel-dropdown-background) !important;
}

.visualizationSelector div[label='Visualization'] {
  top: -2.5px;
  padding-top: 1px;
  min-width: 100%;
}
