.Checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

/* Style the MUI Checkbox */
.Checkbox__input {
  padding: 4px !important;
  margin-right: 8px !important;
  color: var(--side-panel-checkbox-color-unchecked) !important;
}

.Checkbox__input.Mui-checked {
  color: var(--side-panel-checkbox-color-checked) !important;
}

.Checkbox__input:hover {
  background-color: var(--side-panel-checkbox-hover) !important;
}

/* Style the label text */
.Checkbox__text {
  font-size: 14px;
  color: var(--side-panel-card-label-color);
}
