@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';

.LeafMap {
  width: 100%;
  position: relative;
}

.mainMap {
  height: 100%;
  width: 100%;
  z-index: 1;
}

path.leaflet-interactive:focus {
  outline: none;
}

.leaflet-container:focus {
  outline: none;
}
