/* Style the MUI TextField */
.TextField__input {
  width: 100%;
  background: var(--side-panel-input-background);
  font-size: 12px;
  font-weight: 400;
  color: var(--side-panel-input-color);
}

/* Style the input field */
.TextField__input .MuiInputBase-input {
  padding: 8px !important;
  font-size: 12px;
  color: var(--side-panel-input-color);
  height: 36px !important;
  box-sizing: border-box !important;
}

/* Style the outlined input */
.TextField__input .MuiOutlinedInput-notchedOutline {
  border: 1px solid var(--side-panel-input-border);
  border-radius: var(--radius-sm);
}

.TextField__input:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--side-panel-input-border-hover) !important;
}

.TextField__input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--side-panel-input-border-focused) !important;
  border-width: 1px !important;
}
