.LayerList {
  position: absolute;
  top: 125px;
  left: 54px;
  z-index: 1;
  background-color: var(--map-info-overlay-background);
  background-clip: padding-box;
  border: 1px solid var(--map-info-overlay-border);
  border-radius: 5px;
  min-width: 200px;
  max-width: 400px;
  max-height: 300px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  color: var(--map-info-overlay-color);
}

.LayerListTitle {
  border-bottom: solid 1px var(--map-info-overlay-heading-border);
  padding: 6px 0;
  display: flex;
  align-items: center;
}

.LayerListTitleText {
  margin-left: 15px;
  font-weight: 400;
  color: var(--map-info-overlay-heading-color);
}

.LayerListLayers {
  overflow-y: auto;
  margin-bottom: 2px;
}

.LayerListLayer {
  display: flex;
  flex-direction: row;
}

.LayerListLayerContainer {
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
}

.LayerListCheckbox {
  padding: 4px !important;
  color: var(--map-info-overlay-checkbox-color-unchecked) !important;
}

.LayerListCheckbox.Mui-checked {
  color: var(--map-info-overlay-checkbox-color-checked) !important;
}

.LayerListCheckbox:hover {
  background-color: var(--mui-hover) !important;
}

.LayerListLayerText {
  color: var(--map-info-overlay-color);
}
